.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*

## Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Files
*.pdb
*.tmp
*.log
*.cache

# Rider / ReSharper
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.sln.iml

# Coverage
*.coverage
*.coveragexml
coverage*/

# MSBuild
*.binlog

# Healthcheck
healthchecksdb

# Local appsettings & editor config
**/appsettings.Local.json
**/.vs/*
**/.editorconfig
**/*.code-workspace

# Node (devDeps for husky/prettier)
node_modules/
